<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      {{ 'Listado Sensores' | uppercase }}
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Listado Sensores</ion-title>
    </ion-toolbar>
  </ion-header>

  <div *ngIf="!isLoading else loadingTemplate"> 
    <div *ngFor="let dispositivo of listaDispositivos">
      <ion-card (click)="goToDetail(dispositivo.dispositivoId)">
         <ion-card-header>
        <ion-card-title><ion-icon name="thermometer-outline"></ion-icon> {{dispositivo.nombre}}</ion-card-title>
           <ion-card-subtitle><ion-icon name="locate-outline"></ion-icon>
            Ubicación: {{dispositivo.ubicacion}}</ion-card-subtitle>
      </ion-card-header>
      </ion-card>
    </div>
  </div>
 
</ion-content>

<ng-template #loadingTemplate>
  <ion-list style="display: flex; gap: 48px; flex-direction: column;">
    <div *ngFor="let i of [].constructor(8)">
      <ion-skeleton-text animated
        style="width: 30%; height: 28px; border-radius: 28px; margin: 4px 16px;"></ion-skeleton-text>
      <ion-skeleton-text animated
        style="width: 96%; height: 60px; border-radius: 28px; margin: 4px 16px;"></ion-skeleton-text>
    </div>
  </ion-list>
</ng-template>
