<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Listado Sensores
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Listado Sensores</ion-title>
    </ion-toolbar>
  </ion-header>

  <div *ngIf="!isLoading else loadingTemplate"> 
    <div *ngFor="let dispositivo of listaDispositivos">
      <ion-card (click)="mostrarSensor(dispositivo.dispositivoId)">
         <ion-card-header>
        <ion-card-title><ion-icon name="thermometer-outline"></ion-icon> {{dispositivo.nombre}}</ion-card-title>
           <ion-card-subtitle><ion-icon name="locate-outline"></ion-icon>
            Ubicación: {{dispositivo.ubicacion}}</ion-card-subtitle>
      </ion-card-header>
      </ion-card>
    </div>
  </div>
 
  <ion-card >
    <ion-card-header>
      <!-- si o si tiene que estar a la vista el div este para que inicialice el highcharts sino da error-->
      <div id="highcharts" style="width:100%; height:300px;"></div>
    </ion-card-header>
    <ion-card-content *ngIf="mostrarGrafico">
      <ion-button (click)="switchElectrovalvula(dispositvoSeleccionado)" expand="block" fill="clear" shape="round">
        {{ abiertoElectrovalvula ? 'Cerrar electrovavula' : 'Abrir electrovalvula' }}
      </ion-button>
     <ion-button (click)="verMediciones(dispositvoSeleccionado); mostrarTablaM()" expand="block" fill="clear" shape="round">
      Ver todas las mediciones
    </ion-button>
     <ion-button (click)="verLogs(dispositvoSeleccionado); mostrarTablaLogRiegos()" expand="block" fill="clear" shape="round">
      Ver los logs de Riegos
    </ion-button>
    </ion-card-content>
  </ion-card>

 <!-- Mostrar tabla de mediciones si se activa la variable mostrarTablaMediciones -->
<ion-card *ngIf="mostrarTablaMediciones">
  <ion-card-content>
    <ion-label>Tabla de Mediciones</ion-label>
    <ion-grid>
      <!-- Cabecera de la tabla -->
      <ion-row>
        <ion-col>Fecha</ion-col>
        <ion-col>Medición</ion-col>
      </ion-row>
      <!-- Filas de la tabla -->
      <ion-row *ngFor="let medicion of listaMediciones">
        <ion-col>{{ medicion.fecha }}</ion-col>
        <ion-col>{{ medicion.valor }}</ion-col>
      </ion-row>
    </ion-grid>
  </ion-card-content>
</ion-card>

<!-- Mostrar tabla de log si se activa la variable mostrarTablaLog -->
<ion-card *ngIf="mostrarTablaLog">
  <ion-card-content>
    <ion-label>Tabla de LogRiegos</ion-label>
    <ion-grid>
      <!-- Cabecera de la tabla -->
      <ion-row>
        <ion-col>Apertura</ion-col>
        <ion-col>Fecha</ion-col>
      </ion-row>
      <!-- Filas de la tabla -->
      <ion-row *ngFor="let log of listaLogs">
        <ion-col>{{ log.apertura }}</ion-col>
        <ion-col>{{ log.fecha }}</ion-col>
      </ion-row>
    </ion-grid>
  </ion-card-content>
</ion-card>



</ion-content>

<ng-template #loadingTemplate>
  <ion-list style="display: flex; gap: 48px; flex-direction: column;">
    <div *ngFor="let i of [].constructor(8)">
      <ion-skeleton-text animated
        style="width: 30%; height: 28px; border-radius: 28px; margin: 4px 16px;"></ion-skeleton-text>
      <ion-skeleton-text animated
        style="width: 96%; height: 60px; border-radius: 28px; margin: 4px 16px;"></ion-skeleton-text>
    </div>
  </ion-list>
</ng-template>
